*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
 }
 html{
    font-size: 62.5%;
 }

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Logo{
    display: inline-block;
    width:7rem;
}
.Menu{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    background-color: #03A03F;
    align-items: center;

}
.MenuList{margin: 10px;
    display:flex;
    gap: 20px;
}
.MenuLink,li{
    margin: 10px;
    text-decoration: none;
    color: white; 
    font-weight: bold;
     list-style: none;
     font-size: 2.3rem;
}
footer{
    padding: 20px;
    background-color: #03A03F;
    color: white;
    text-align: center;
    margin-top: auto;
    font-size: 2rem;
}